name: Check Nightly Build Status
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * *' # runs at 6am CET EVERY DAY

permissions:
  contents: read
  issues: write

env:
  GH_TOKEN: ${{ github.token }}
  GH_REPO: duckdb/duckdb
  GH_ISSUE_REPO: ${{ github.repository }}

jobs:
  get-run-info:
    name: Get Latest Runs Info, Create Tables and Inputs
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-outputs.outputs.matrix }}
      CURR_DATE: ${{ steps.curr-date.outputs.CURR_DATE }}
    steps:
      - id: curr-date
        run: echo "CURR_DATE=$(date +%Y-%m-%d)" >> $GITHUB_OUTPUT

      - name: Checkout repo with the script
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.10'

      - name: Install DuckDB for Python
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install duckdb pandas tabulate requests
      
      - name: Create Tables and Generate inputs.json
        shell: bash
        env:
          CURR_DATE: ${{ steps.curr-date.outputs.CURR_DATE }}
        run: |
          python scripts/create_tables_and_inputs.py

      - name: Upload DuckDB file
        uses: actions/upload-artifact@v4
        with:
          name: run_info_tables.duckdb
          path: run_info_tables.duckdb
      
      - name: Read JSON and create matrix
        id: set-outputs
        run: |
          matrix=$(cat inputs.json | jq -c '.')
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  run-tests:
    name: ${{ matrix.inputs.nightly_build }} - ${{ matrix.inputs.architectures }}
    needs: get-run-info
    if: ${{ needs.get-run-info.outputs.matrix != '[]' }}
    strategy:
      matrix:
        inputs: ${{ fromJson(needs.get-run-info.outputs.matrix) }}
    continue-on-error: true
    runs-on: ${{ matrix.inputs.runs_on }}
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.10'

      # - name: Set up QEMU for aarch64 builds
      #   if: ${{ matrix.inputs.architectures == 'linux-aarch64' }}
      #   uses: docker/setup-qemu-action@v3
      #   with:
      #       platforms: linux/aarch64
    
      # - name: Install QEMU dependencies
      #   if: ${{ matrix.inputs.architectures == 'linux-aarch64' }}
      #   shell: bash
      #   run: |
      #       sudo apt-get update
      #       sudo apt-get install -y libc6-arm64-cross qemu-user-static
      #       # set up QEMU for Docker and run Docker container
      #       docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      #       docker run --rm --platform linux/aarch64 ubuntu:latest uname -m

      - name: Install Python dependencies
        run: pip install duckdb pandas tabulate docker
            
      - name: Checkout repo with the scripts
        uses: actions/checkout@v4

      - name: Checkout repo with extensions config file
        uses: actions/checkout@v4
        with:
            repository: ${{ env.GH_REPO }}
            sparse-checkout: |
                .github/config
            path: ext
            
      - name: Verify ${{ matrix.inputs.nightly_build }} build version and Test extensions
        id: verify-build
        shell: bash
        env:
          CURR_DATE: ${{ needs.get-run-info.outputs.CURR_DATE }}
        run: |
            uname -m
            echo "Downloading duckdb-binaries-$name artifact..."
            if gh run download ${{ matrix.inputs.run_id }} --repo ${{ env.GH_REPO }} -n duckdb-binaries-${{ matrix.inputs.name }}; then
                echo "Artifact duckdb-binaries-$name is successfuly downloaded."
                unzip duckdb_cli-*.zip -d duckdb_path

                echo "Verifying version and testing extensions..."
                python scripts/verify_and_test.py \
                    --nightly_build ${{ matrix.inputs.nightly_build }} \
                    --architecture ${{ matrix.inputs.architectures }} --run_id ${{ matrix.inputs.run_id }} \
                    --runs_on ${{ matrix.inputs.runs_on }} --config ext/.github/config/out_of_tree_extensions.cmake
            fi

      - name: Upload actions for extensions
        uses: actions/upload-artifact@v4
        with:
          name: ext_${{ matrix.inputs.nightly_build }}_${{ matrix.inputs.architectures }}
          path: list_failed_ext_${{ matrix.inputs.nightly_build }}_${{ matrix.inputs.architectures }}.csv
          if-no-files-found: ignore
    
  report:
    name: Create complete report
    runs-on: ubuntu-latest
    if: always()
    needs:
      - get-run-info 
      - run-tests
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.10'

      - name: Install DuckDB for Python
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install duckdb pandas tabulate requests

      - name: Download extensions artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ext_*
          path: failed_ext

      - name: Download duckdb file
        uses: actions/download-artifact@v4
        with:
          name: run_info_tables.duckdb
          path: tables
      
      - name: Generate report
        shell: bash
        env:
          CURR_DATE: ${{ needs.get-run-info.outputs.CURR_DATE }}
        run: |
          python scripts/create_build_report.py

      - name: Upload REPORT
        uses: actions/upload-artifact@v4
        with:
          name: ${{ needs.get-run-info.outputs.CURR_DATE }}_REPORT_FILE
          path: ${{ needs.get-run-info.outputs.CURR_DATE }}_REPORT_FILE.md