name: Windows
on:
  workflow_dispatch
jobs:
  upterm:
    name: Run upterm
    runs-on: windows-2019
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.10'
      - name: Install DuckDB for Python
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install duckdb --pre --upgrade
          pip install duckdb pandas tabulate requests
              
      - name: Checkout the repo with the script
        uses: actions/checkout@v4
      
      - name: Setup venv and Install requirements
        shell: bash
        run: | 
          python -m venv .venv
          source .venv\Scripts\activate
          pip install --upgrade pip
          pip install -r requirements.txt
      - uses: owenthereal/action-upterm@v1